<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI-CD Training</title>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container nav-bar">
            <div class="navbar-header">
                <a asp-controller="Form" asp-action="Home" class="navbar-brand"><img src="~/DOG_Logo2.png" style="height: 25px;" /></a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <div style="padding: 20px;">
            <img src="~/DOG_Footer.png" style="width: 100%" />
            <hr />
            <footer>
                <p>&copy; 2018 - CICD Training</p>
            </footer>
        </div>
    </div>
</body>
</html>
